{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('project_list') }}">Список клиентов</a></li>
        <li>Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row">
             <form method="POST" role="form" class="form-horizontal" >
                {{ form_widget(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bundles/admin/ckeditor/ckeditor.js') }}"></script>#}
    {#<script src="{{ asset('bundles/admin/ckeditor/styles.js') }}"></script>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(function () {
                $('#appbundle_client_adrs2').kladr({
                    token: '51dfe5d42fb2b43e3300006e',
                    key: '86a2c2a06f1b2451a87d05512cc2c3edfdf41969',
                    oneString: true
                });
            });
        });
    </script>
{#<link href="{{ asset('bundles/app/ckeditor/contents.css') }}" rel="stylesheet">#}
<style>
    .frame{
        width: 100%;
    }
</style>
{% endblock %}