{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ project.title }}</li>
        <li>Клиенты</li>
        <li><a href="{{ path('client_add',{'projectId' : project.id}) }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="{{ path('event_list',{ 'projectId' : project.id}) }}">Мероприятия</a></li>
            <li role="presentation" class="active"><a href="{{ path('client_list',{ 'projectId' : project.id}) }}">Клиенты</a></li>
            <li role="presentation"><a href="{{ path('user_list',{ 'projectId' : project.id}) }}">Операторы</a></li>
            <li role="presentation"><a href="{{ path('adrs_list',{ 'projectId' : project.id}) }}">Адреса</a></li>
        </ul>
        <br />
        <table class="table" data-toggle="table"
               data-sort-name="number"
               data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="number"
                        data-sortable="true">№</th>
                    <th data-field="title"
                        data-sortable="true">ФИО</th>
                    <th data-field="type"
                        data-sortable="true">Статус</th>
                    <th data-field="setting"
                        data-sortable="false" class="setting">Инструменты</th>
                </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item }}</td>
                    <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{ item.status }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                            {% for s in status %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{{ path('client_status', { 'clientId' : item.id, 'statusId' : s.id }) }}">{{ s }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    </td>
                    <td class="setting">
                        {% spaceless %}
                        <a href="{{ path('client_edit',{'projectId' : project.id, 'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                            &nbsp;
                            &nbsp;
                        <a href="{{ path('client_remove',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}