{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ project.title }}</li>
        <li>Операторы</li>
        <li><a href="{{ path('adrs_add',{'projectId' : project.id}) }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {% if project != null %}
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation"><a href="{{ path('event_list',{ 'projectId' : project.id}) }}">Мероприятия</a></li>
                <li role="presentation"><a href="{{ path('client_list',{ 'projectId' : project.id}) }}">Клиенты</a></li>
                <li role="presentation"><a href="{{ path('user_list',{ 'projectId' : project.id}) }}">Операторы</a></li>
                <li role="presentation" class="active"><a href="{{ path('adrs_list',{ 'projectId' : project.id}) }}">Адреса</a></li>
            </ul>
            <br />
        {% endif %}
        <table class="table" data-toggle="table"
               data-sort-name="number"
               data-sort-order="desc">
            <thead>
            <tr>
                <th data-field="number"
                    data-sortable="true">№</th>
                <th data-field="title"
                    data-sortable="true">Адрес</th>
                <th data-field="type"
                    data-sortable="true">Кол-во клиентов</th>
                <th data-field="setting"
                    data-sortable="false" class="setting">Инструменты</th>
            </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item }}</td>
                    <td>
                        {{ item.clients | length }}
                    </td>
                    <td class="setting">
                        {% spaceless %}
                            <a href="{{ path('adrs_edit',{'id' : item.id}) }}" title="Редактировать">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="{{ path('adrs_remove',{'id' : item.id}) }}" title="Удалить">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}