{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ project.title }}</li>
        <li>Мероприятия</li>
        {% if is_granted('ROLE_OPERATOR') %}
            <li><a href="{{ path('event_add',{'projectId' : project.id}) }}"><span class="btn btn-primary">Добавить</span></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="{{ path('event_list',{ 'projectId' : project.id}) }}">Мероприятия</a></li>
            <li role="presentation"><a href="{{ path('client_list',{ 'projectId' : project.id}) }}">Агенты</a></li>
            <li role="presentation"><a href="{{ path('user_list',{ 'projectId' : project.id}) }}">Операторы</a></li>
        </ul>
        <br />
        <table class="table" data-toggle="table"
               data-sort-name="number"
               data-sort-order="desc">
            <thead>
            <tr>
                <th data-field="number"
                    data-sortable="true">№</th>
                <th data-field="title"
                    data-sortable="true">Название</th>
                <th data-field="title"
                    data-sortable="true"></th>
                <th data-field="type"
                    data-sortable="true">Тип мероприятия</th>
                {% if is_granted('ROLE_OPERATOR') %}
                <th data-field="setting"
                    data-sortable="false" class="setting">Инструменты</th>
                {% endif %}
            </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        <a href="{{ path('event_client_add', {'eventId' : item.id}) }}" title="Опрос">{{ item.title }}</a>
                    </td>
                    <td>
                        <a href="{{ path('event_poll_stats',{'eventId' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-stats"></span>
                            </button>
                        </a>
                    </td>
                    <td>{{ item.type }}</td>
                    <td class="setting">
                        {% if is_granted('ROLE_OPERATOR') %}
                            {% spaceless %}
                                <a href="{{ path('event_edit',{'id' : item.id}) }}">
                                    <button type="button" class="btn btn-default btn-bg">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                                &nbsp;
                                &nbsp;
                                <a href="{{ path('event_remove',{'id' : item.id}) }}">
                                    <button type="button" class="btn btn-default btn-bg">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </a>
                            {% endspaceless %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}