{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ project.title }}</li>
        <li>Мероприятия</li>
        {% if is_granted('ROLE_OPERATOR') %}
            <li><a href="{{ path('event_add',{'projectId' : project.id}) }}"><span class="btn btn-primary">Добавить</span></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="well">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="{{ path('event_list',{ 'projectId' : project.id}) }}">Мероприятия</a></li>
        <li role="presentation"><a href="{{ path('client_list',{ 'projectId' : project.id}) }}">Клиенты</a></li>
        <li role="presentation"><a href="{{ path('user_list',{ 'projectId' : project.id}) }}">Операторы</a></li>
    </ul>
    <br />

</div>