{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ event.title }}</li>
        <li>Опрос</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row">
             <form method="POST" role="form" class="form-horizontal" >

                 <div class="form-group">
                     <label class="col-sm-4 control-label">{{ client.lastName }} {{ client.firstName }} {{ client.surName }}</label>
                 </div>
                <br />
                <br />
                <br />
                {% for q in questions %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label required">{{ q.title }}</label>
                        <div class="col-sm-8">
                            <input type="text" name="answer[{{ q.id }}]" value="" class="form-control">
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button type="submit"  class="btn-primary pull-right btn">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}