{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ event.title }}</li>
        <li>Опрос</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <form method="POST">
            <div class="form-group">
                <label class="col-sm-4 control-label required">Выберите клиента</label>
                <div class="col-sm-8">
                    <select id="appbundle_event_type" name="client" data-placeholder="Выберите клиента" class="form-control">
                        {% for c in clients %}
                            <option value="{{ c.id }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br />
            {% for q in questions %}
                <div class="form-group">
                    <label class="col-sm-4 control-label required">{{ q.title }}</label>
                    <div class="col-sm-8">
                        <input type="text" name="answer[{{ q.id }}]" value="" class="form-control">
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button type="submit"  class="btn-primary pull-right btn">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}