{% extends "AppBundle::layout_mini.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>{{ event.title }}</li>
        <li>Вопросы</li>
        <li><a href="{{ path('event_question_add',{'eventId' : event.id}) }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" data-toggle="table"
               data-sort-name="number"
               data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="number"
                        data-sortable="true">№</th>
                    <th data-field="title"
                        data-sortable="true">Вопрос</th>
                    <th data-field="title"
                        data-sortable="true">Тип</th>
                    <th data-field="setting"
                        data-sortable="false" class="setting">Инструменты</th>
                </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                        {% if item.selects | length > 0 %}
                            Список
                        {% else %}
                            Текст
                        {% endif %}
                    </td>
                    <td class="setting">
                        {% spaceless %}
                            <a href="{{ path('event_question_select',{'questionId' : item.id}) }}" title="Варианты ответов">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                        <a href="{{ path('event_question_edit',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                            &nbsp;
                            &nbsp;
                        <a href="{{ path('event_question_remove',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}