{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        {% if project %}
        <li>{{ project.title }}</li>
        <li>Операторы</li>
        <li><a href="{{ path('user_add',{'projectId' : project.id}) }}"><span class="btn btn-primary">Добавить</span></a></li>
        {% else %}
            <li>Операторы</li>
            <li><a href="{{ path('user_add') }}"><span class="btn btn-primary">Добавить</span></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {% if project != null %}
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation"><a href="{{ path('event_list',{ 'projectId' : project.id}) }}">Мероприятия</a></li>
                <li role="presentation"><a href="{{ path('client_list',{ 'projectId' : project.id}) }}">Клиенты</a></li>
                <li role="presentation" class="active"><a href="{{ path('user_list',{ 'projectId' : project.id}) }}">Операторы</a></li>
                <li role="presentation"><a href="{{ path('adrs_list',{ 'projectId' : project.id}) }}">Адреса</a></li>
            </ul>
            <br />
        {% endif %}
        <table class="table" data-toggle="table"
               data-sort-name="number"
               data-sort-order="desc">
            <thead>
            <tr>
                <th data-field="number"
                    data-sortable="true">№</th>
                <th data-field="title"
                    data-sortable="true">ФИО</th>
                <th data-field="type"
                    data-sortable="true">Роль</th>
                <th data-field="setting"
                    data-sortable="false" class="setting">Инструменты</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.firstName }} {{ item.lastName }} {{ item.surName }}</td>
                    <td>
                        {{ item.roles | role }}
                        {% if item.status != 0 %}
                            {{ item.status }}
                        {% endif %}
                    </td>
                    <td class="setting">
                        {% spaceless %}
                            {% if project == null %}
                                <a href="{{ path('user_add_project',{'userId' : item.id}) }}" title="Добавление проектов пользователю">
                                    <button type="button" class="btn btn-default btn-bg">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </button>
                                </a>
                                &nbsp;
                                &nbsp;
                            {% endif %}
                            <a href="{{ path('panel_message',{'operatorId' : item.id}) }}" title="Написать сообщение">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="{{ path('user_edit',{'id' : item.id}) }}" title="Редактировать">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="{{ path('user_remove',{'id' : item.id}) }}" title="Удалить">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
                {% include 'AppBundle:User:recurse.html.twig' with { 'items': item.__children, 'lvl' : 1, 'setting' : true } %}
            {% endfor%}
        </table>
    </div>
{% endblock %}